pyyaml >= 6.0.0
ordered_set >= 4.0.0
trio >= 0.25.1
hypercorn >= 0.16.0
python-multipart >= 0.0.9
fastapi-slim >= 0.111.0
pyotp >= 2.9.0
protobuf >= 5.26.1
exceptiongroup >= 1.2.1
websockets >= 12.0
atomicwrites >= 1.4.1