/* Color scheme */
html {
  --color-background: #e0e0e0;
  --color-border: #a05000;
  --color-text: #101010;
  --color-link: #2f8536;
  --color-background-input: #ffffff;
  --color-background-accent: #c0c0c0;
  --color-text-accent: #9c5c23;
  --color-background-selected: #80e030;

  --color-redpepper: #aa0000;

  --color-red: red;
  --color-orange: darkorange;
  --color-green: green;
  --color-blue: blue;
  --color-purple: purple;
  --color-brown: brown;
  --color-gray: gray;

  --border-radius: 5px;
}

html[data-theme='dark'] {
  --color-background: #202020;
  --color-border: #603000;
  --color-text: #f0f0f0;
  --color-link: #80f080;
  --color-background-input: #505050;
  --color-background-accent: #303030;
  --color-text-accent: #fdba00;
  --color-background-selected: #204000;

  --color-orange: darkorange;
  --color-green: green;
  --color-blue: skyblue;
  --color-purple: magenta;
  --color-brown: sandybrown;
  --color-gray: #c0c0c0;
}

/* General */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

dialog,
body {
  font-size: 10pt;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-background);
  color: var(--color-text);
}

/* Links */
a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-text-accent);
  transition: color 0.5s;
}

a[target='_blank']::after {
  content: '↗';
}

/* Inputs */
input[type='submit'],
button {
  background: var(--color-background);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 0.5em 1em;
  cursor: pointer;
}

input[type='submit']:hover,
button:hover {
  background: var(--color-background-accent);
  color: var(--color-text-accent);
}

textarea,
select,
input {
  background: var(--color-background-input);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 0.5em;
}

/* Tables */
table {
  border: 1px solid var(--color-border);
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  border: 1px solid var(--color-border);
  padding: 0.5em;
  vertical-align: top;
}

th {
  background: var(--color-background-accent);
}

/* Lists */
ol,
ul {
  padding-left: 1em;
}

li {
  margin: 0.5em 0;
}

ul li {
  list-style-type: none;
}

ul li::before {
  content: '\2022';
  margin-right: 0.5em;
  color: var(--color-text-accent);
}

ol li {
  list-style-type: decimal;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: var(--color-text-accent);
  margin-bottom: 0.5rem;
}

/* Paragraphs */
p {
  margin: 0.5em 0;
}

/* Code */
code {
  background: var(--color-background-accent);
  border-radius: var(--border-radius);
  padding: 0.125em 0.5em;
}

pre {
  font-family: monospace;
  background: var(--color-background-accent);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 0.5em 1em;
  white-space: pre-wrap;
}

/* Dialogs */
dialog {
  background: var(--color-background-accent);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 1em;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0.5, 0.5, 0.5, 0.5);
}

::backdrop {
  background: rgba(0.5, 0.5, 0.5, 0.5);
}

/* Spinner */
.spinner {
  border: 3px solid var(--color-background-accent);
  border-left-color: var(--color-gray);
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: spin 0.75s cubic-bezier(0.5, 0.2, 0.5, 0.8) infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Toasts */
.toast {
  background: var(--color-background-input);
  padding: 1em;
  box-shadow: 0.5rem 0.5rem 2rem rgb(0.5, 0.5, 0.5);
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 1em;
  min-width: 20em;
  animation: slide-in 0.5s ease-out;
}

@keyframes slide-in {
  from {
    transform: translate(25%, 50%) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

.toast-text {
  text-align: center;
  margin: 0 1em;
}

.toast-close {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0em 0.5em;
  margin-left: auto;
}

.toast-close:hover {
  color: var(--color-red);
}

.toast-success {
  border: 1px solid var(--color-green);
}

.toast-warning {
  border: 1px solid var(--color-orange);
}

.toast-info {
  border: 1px solid var(--color-blue);
}

.toast-error {
  border: 1px solid var(--color-red);
}

/* Custom classes */
.hidden {
  display: none;
}

.padded {
  padding: 2em;
}

.lightly-padded {
  padding: 1em;
}

.well-padded {
  padding: 3em;
}

.thinly-padded {
  padding: 0.5em;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.gapped {
  gap: 1em;
}

.centered {
  align-items: center;
}

.justify-centered {
  justify-content: center;
}

.top-justified,
.left-justified {
  justify-content: flex-start;
}

.bottom-justified,
.right-justified {
  justify-content: flex-end;
}

.bottom-aligned,
.right-aligned {
  align-items: flex-end;
}

.top-aligned,
.left-aligned {
  align-items: flex-start;
}

.full-width {
  width: 100%;
}

.wrappable {
  flex-wrap: wrap;
}

.text-centered {
  text-align: center;
}

.text-right {
  text-align: right;
}

.full-height {
  height: 100%;
}

.shrink {
  flex-shrink: 1;
}

.no-shrink {
  flex-shrink: 0;
}

.grow {
  flex-grow: 1;
}

.no-grow {
  flex-grow: 0;
}

.no-margin {
  margin: 0;
}

.hide-on-text-overflow {
  white-space: nowrap;
  overflow: hidden;
}

.small-font {
  font-size: small;
}

.large-font {
  font-size: large;
}

.bold-font {
  font-weight: bold;
}

.bordered {
  border: 1px solid var(--color-border);
}

.rounded {
  border-radius: var(--border-radius);
}

.background-set {
  background: var(--color-background);
}
