
[Unit]
Description=RedPepper Agent
Documentation=https://github.com/merlinz01/redpepper
After=network.target network-online.target
Requires=network-online.target

[Service]
User=redpepper-agent
Group=redpepper-agent
ExecStart=/opt/redpepper/bin/redpepper-agent
TimeoutStopSec=5s
PrivateTmp=true
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
Restart=always
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
